<% content_for :solution do %>
  <script src="/js/jq.js"></script>
<% end %>

<div class="row product">
  <img class="span3" src="/images/consoles/xbox.png" alt="xbox">
  <div class="span5">
    <h3>Xbox One</h3>
    <p>
      Be first to experience Xbox One. The Day One Edition features a commemorative controller and an exclusive achievement.
    </p>
  </div>

  <div class="price span2">$499</div>
  <input name="product[xbox]" type="text" class="span1" value="1" />
  <span class="delete fui-cross" />
</div>

<div class="row product">
  <img class="span3" src="/images/consoles/ps.png" alt="ps">
  <div class="span5">
    <h3>PlayStation®4</h3>
    <p>
      The PlayStation®4 system redefines rich and immersive gameplay with powerful graphics and speed.
    </p>
  </div>

  <div class="price span2">$399</div>
  <input name="product[ps]" type="text" class="span1" value="1" />
  <span class="delete fui-cross" />
</div>

<div class="row product">
  <img class="span3" src="/images/consoles/wii.png" alt="wii">
  <div class="span5">
    <h3>Wii U</h3>
    <p>
      It's the console that will singlehandedly change the way people play games for years to come.
    </p>
  </div>
  <div class="price span2">$300</div>
  <input name="product[wii]" type="text" class="span1" value="1" />
  <span class="delete fui-cross" />
</div>

<div class="row">
  <div class="total span3">
    Total: <span class="total-amount">$1198</span>
  </div>
  <div class="span8">
    <div class="checkout pull-right span2">
      <a href="#" class="btn btn-large btn-block btn-primary">Checkout</a>
    </div>
  </div>
</div>
