<% content_for :solution do %>
  <script src="/js/vendor/knockout.mapping.js"></script>
  <script src="/js/ko.js"></script>
<% end %>

<!-- ko foreach: products -->
  <div class="row product">
    <img class="span3" data-bind="attr: { src: img, alt: title }" />
    <div class="span5">
      <h3 data-bind="text: title"></h3>
      <p data-bind="text: description"></p>
    </div>

    <div class="price span2" data-bind="text: subtotal.formatMoney"></div>
    <input data-bind="value: quantity" type="number" min="1" class="span1" />
    <a href="#" data-bind="click: $parent.delete" class="delete fui-cross"></a>
  </div>
<!-- /ko -->

<div class="row promo-code">
    <label class="span3"><input data-toggle="checkbox" type="checkbox" data-bind="checked: promoCode.isEnabled" /> Use promo code</label>
    <input data-bind="value: promoCode.value, visible: promoCode.isEnabled" />
</div>

<div class="row">
  <div class="total span6">
    Total: <span data-bind="text: total.formatMoney" class="total-amount"></span>

    <!-- ko if: promoCode.isValid -->
      <span class="discount" data-bind="text: total.promoDiscount.formatMoney"></span>
    <!-- /ko -->
  </div>
  <div class="span5">
    <div class="checkout pull-right span2">
      <a data-bind="click: checkout" href="#" class="btn btn-large btn-block btn-primary">Checkout</a>
    </div>
  </div>
</div>
