h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  margin: 50px 0;
  font-size: 48px;
  text-align: center;
}

.container {
  padding: 40px 0;
}

.product {
  margin-bottom: 20px;
}

.product input[type=text] {
  margin-top: 42px;
}

.product .delete {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: relative;
  top: 20px;
}

.product .price,
.total {
  text-align: center;
  font-size: 32px;
}

.product .price {
  margin-top: 42px;
}

.checkout {
  margin-right: 20px;
}

.total {
  color: #cccccc;
}

.total span {
  color: #34495e;
}
