<div class="row products">
  <div class="span3">
    <div class="tile">
      <img src="/images/consoles/xbox.png" alt="xbox" class="tile-image big-illustration">
      <h3 class="tile-title">Xbox One</h3>
      <p>Be first to experience Xbox One. The Day One Edition features a commemorative controller and an exclusive achievement.</p>
      <a class="btn btn-primary btn-large btn-block" href="#">Buy</a>
    </div>
  </div>

  <div class="span3">
    <div class="tile">
      <img src="/images/consoles/ps.png" alt="ps" class="tile-image">
      <h3 class="tile-title">PlayStation®4</h3>
      <p>The PlayStation®4 system redefines rich and immersive gameplay with powerful graphics and speed.</p>
      <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Buy</a>
    </div>
  </div>

  <div class="span3">
    <div class="tile">
      <img src="/images/consoles/wii.png" alt="wii" class="tile-image">
      <h3 class="tile-title">Wii U</h3>
      <p>It's the console that will singlehandedly change the way people play games for years to come.</p>
      <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Buy</a>
    </div>
  </div>
</div> <!-- /products -->
